<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!--别名-->
	<!--<typeAliases>
		<typeAlias type="com.luoxiang.entity.AppBanner" alias="banner" />
		<typeAlias type="com.luoxiang.entity.AppUser" alias="appUser" />
		<typeAlias type="com.luoxiang.entity.Columns" alias="columns" />
		<typeAlias type="com.luoxiang.entity.SysUser" alias="sysUser" />
		<typeAlias type="com.luoxiang.entity.Film" alias="film" />
	</typeAliases>-->

	<!-- <plugins> <plugin interceptor="com.common.page.interceptor.PaginationInterceptor"/> 
		</plugins> -->

	<!--加载这个包下所有的-->
	<!-- <mappers>
	 	<package name="com.luoxiang.scalescan.mapper"/>
	 </mappers>-->
</configuration>


