<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoxiang.project.mapper.HuBei202201Mapper" >
  <resultMap id="BaseResultMap" type="com.luoxiang.project.po.HuBei202201" >
    <id column="job_index" property="jobIndex" jdbcType="INTEGER" />
    <result column="ji_gou_name" property="jiGouName" jdbcType="VARCHAR" />
    <result column="zhao_lu_ji_guan" property="zhaoLuJiGuan" jdbcType="VARCHAR" />
    <result column="ji_gou_ceng_ji" property="jiGouCengJi" jdbcType="VARCHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_code" property="jobCode" jdbcType="VARCHAR" />
    <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
    <result column="need_num" property="needNum" jdbcType="VARCHAR" />
    <result column="xue_li" property="xueLi" jdbcType="VARCHAR" />
    <result column="xue_wei" property="xueWei" jdbcType="VARCHAR" />
    <result column="zhuan_ye" property="zhuanYe" jdbcType="VARCHAR" />
    <result column="ji_ceng" property="jiCeng" jdbcType="VARCHAR" />
    <result column="years" property="years" jdbcType="VARCHAR" />
    <result column="xing_bie" property="xingBie" jdbcType="VARCHAR" />
    <result column="qi_ta" property="qiTa" jdbcType="VARCHAR" />
    <result column="can_gong" property="canGong" jdbcType="VARCHAR" />
    <result column="bei_zhu" property="beiZhu" jdbcType="VARCHAR" />
    <result column="all_num" property="allNum" jdbcType="INTEGER" />
    <result column="hasing" property="hasing" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    job_index, ji_gou_name, zhao_lu_ji_guan, ji_gou_ceng_ji, job_name, job_code, job_desc, 
    need_num, xue_li, xue_wei, zhuan_ye, ji_ceng, years, xing_bie, qi_ta, can_gong, bei_zhu, 
    all_num, hasing
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoxiang.project.po.HuBei202201Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hu_bei_2022_01
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hu_bei_2022_01
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hu_bei_2022_01
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoxiang.project.po.HuBei202201Example" >
    delete from hu_bei_2022_01
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoxiang.project.po.HuBei202201" >
    insert into hu_bei_2022_01 (job_index, ji_gou_name, zhao_lu_ji_guan, 
      ji_gou_ceng_ji, job_name, job_code, 
      job_desc, need_num, xue_li, 
      xue_wei, zhuan_ye, ji_ceng, 
      years, xing_bie, qi_ta, 
      can_gong, bei_zhu, all_num, 
      hasing)
    values (#{jobIndex,jdbcType=INTEGER}, #{jiGouName,jdbcType=VARCHAR}, #{zhaoLuJiGuan,jdbcType=VARCHAR}, 
      #{jiGouCengJi,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobCode,jdbcType=VARCHAR}, 
      #{jobDesc,jdbcType=VARCHAR}, #{needNum,jdbcType=VARCHAR}, #{xueLi,jdbcType=VARCHAR}, 
      #{xueWei,jdbcType=VARCHAR}, #{zhuanYe,jdbcType=VARCHAR}, #{jiCeng,jdbcType=VARCHAR}, 
      #{years,jdbcType=VARCHAR}, #{xingBie,jdbcType=VARCHAR}, #{qiTa,jdbcType=VARCHAR}, 
      #{canGong,jdbcType=VARCHAR}, #{beiZhu,jdbcType=VARCHAR}, #{allNum,jdbcType=INTEGER}, 
      #{hasing,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luoxiang.project.po.HuBei202201" >
    insert into hu_bei_2022_01
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobIndex != null" >
        job_index,
      </if>
      <if test="jiGouName != null" >
        ji_gou_name,
      </if>
      <if test="zhaoLuJiGuan != null" >
        zhao_lu_ji_guan,
      </if>
      <if test="jiGouCengJi != null" >
        ji_gou_ceng_ji,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobCode != null" >
        job_code,
      </if>
      <if test="jobDesc != null" >
        job_desc,
      </if>
      <if test="needNum != null" >
        need_num,
      </if>
      <if test="xueLi != null" >
        xue_li,
      </if>
      <if test="xueWei != null" >
        xue_wei,
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye,
      </if>
      <if test="jiCeng != null" >
        ji_ceng,
      </if>
      <if test="years != null" >
        years,
      </if>
      <if test="xingBie != null" >
        xing_bie,
      </if>
      <if test="qiTa != null" >
        qi_ta,
      </if>
      <if test="canGong != null" >
        can_gong,
      </if>
      <if test="beiZhu != null" >
        bei_zhu,
      </if>
      <if test="allNum != null" >
        all_num,
      </if>
      <if test="hasing != null" >
        hasing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobIndex != null" >
        #{jobIndex,jdbcType=INTEGER},
      </if>
      <if test="jiGouName != null" >
        #{jiGouName,jdbcType=VARCHAR},
      </if>
      <if test="zhaoLuJiGuan != null" >
        #{zhaoLuJiGuan,jdbcType=VARCHAR},
      </if>
      <if test="jiGouCengJi != null" >
        #{jiGouCengJi,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null" >
        #{needNum,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="xueWei != null" >
        #{xueWei,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="jiCeng != null" >
        #{jiCeng,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=VARCHAR},
      </if>
      <if test="xingBie != null" >
        #{xingBie,jdbcType=VARCHAR},
      </if>
      <if test="qiTa != null" >
        #{qiTa,jdbcType=VARCHAR},
      </if>
      <if test="canGong != null" >
        #{canGong,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        #{beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="allNum != null" >
        #{allNum,jdbcType=INTEGER},
      </if>
      <if test="hasing != null" >
        #{hasing,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoxiang.project.po.HuBei202201Example" resultType="java.lang.Integer" >
    select count(*) from hu_bei_2022_01
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hu_bei_2022_01
    <set >
      <if test="record.jobIndex != null" >
        job_index = #{record.jobIndex,jdbcType=INTEGER},
      </if>
      <if test="record.jiGouName != null" >
        ji_gou_name = #{record.jiGouName,jdbcType=VARCHAR},
      </if>
      <if test="record.zhaoLuJiGuan != null" >
        zhao_lu_ji_guan = #{record.zhaoLuJiGuan,jdbcType=VARCHAR},
      </if>
      <if test="record.jiGouCengJi != null" >
        ji_gou_ceng_ji = #{record.jiGouCengJi,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null" >
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobCode != null" >
        job_code = #{record.jobCode,jdbcType=VARCHAR},
      </if>
      <if test="record.jobDesc != null" >
        job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.needNum != null" >
        need_num = #{record.needNum,jdbcType=VARCHAR},
      </if>
      <if test="record.xueLi != null" >
        xue_li = #{record.xueLi,jdbcType=VARCHAR},
      </if>
      <if test="record.xueWei != null" >
        xue_wei = #{record.xueWei,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuanYe != null" >
        zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="record.jiCeng != null" >
        ji_ceng = #{record.jiCeng,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null" >
        years = #{record.years,jdbcType=VARCHAR},
      </if>
      <if test="record.xingBie != null" >
        xing_bie = #{record.xingBie,jdbcType=VARCHAR},
      </if>
      <if test="record.qiTa != null" >
        qi_ta = #{record.qiTa,jdbcType=VARCHAR},
      </if>
      <if test="record.canGong != null" >
        can_gong = #{record.canGong,jdbcType=VARCHAR},
      </if>
      <if test="record.beiZhu != null" >
        bei_zhu = #{record.beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="record.allNum != null" >
        all_num = #{record.allNum,jdbcType=INTEGER},
      </if>
      <if test="record.hasing != null" >
        hasing = #{record.hasing,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hu_bei_2022_01
    set job_index = #{record.jobIndex,jdbcType=INTEGER},
      ji_gou_name = #{record.jiGouName,jdbcType=VARCHAR},
      zhao_lu_ji_guan = #{record.zhaoLuJiGuan,jdbcType=VARCHAR},
      ji_gou_ceng_ji = #{record.jiGouCengJi,jdbcType=VARCHAR},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      job_code = #{record.jobCode,jdbcType=VARCHAR},
      job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      need_num = #{record.needNum,jdbcType=VARCHAR},
      xue_li = #{record.xueLi,jdbcType=VARCHAR},
      xue_wei = #{record.xueWei,jdbcType=VARCHAR},
      zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      ji_ceng = #{record.jiCeng,jdbcType=VARCHAR},
      years = #{record.years,jdbcType=VARCHAR},
      xing_bie = #{record.xingBie,jdbcType=VARCHAR},
      qi_ta = #{record.qiTa,jdbcType=VARCHAR},
      can_gong = #{record.canGong,jdbcType=VARCHAR},
      bei_zhu = #{record.beiZhu,jdbcType=VARCHAR},
      all_num = #{record.allNum,jdbcType=INTEGER},
      hasing = #{record.hasing,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoxiang.project.po.HuBei202201" >
    update hu_bei_2022_01
    <set >
      <if test="jiGouName != null" >
        ji_gou_name = #{jiGouName,jdbcType=VARCHAR},
      </if>
      <if test="zhaoLuJiGuan != null" >
        zhao_lu_ji_guan = #{zhaoLuJiGuan,jdbcType=VARCHAR},
      </if>
      <if test="jiGouCengJi != null" >
        ji_gou_ceng_ji = #{jiGouCengJi,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        job_code = #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        job_desc = #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null" >
        need_num = #{needNum,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        xue_li = #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="xueWei != null" >
        xue_wei = #{xueWei,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="jiCeng != null" >
        ji_ceng = #{jiCeng,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        years = #{years,jdbcType=VARCHAR},
      </if>
      <if test="xingBie != null" >
        xing_bie = #{xingBie,jdbcType=VARCHAR},
      </if>
      <if test="qiTa != null" >
        qi_ta = #{qiTa,jdbcType=VARCHAR},
      </if>
      <if test="canGong != null" >
        can_gong = #{canGong,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        bei_zhu = #{beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="allNum != null" >
        all_num = #{allNum,jdbcType=INTEGER},
      </if>
      <if test="hasing != null" >
        hasing = #{hasing,jdbcType=VARCHAR},
      </if>
    </set>
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoxiang.project.po.HuBei202201" >
    update hu_bei_2022_01
    set ji_gou_name = #{jiGouName,jdbcType=VARCHAR},
      zhao_lu_ji_guan = #{zhaoLuJiGuan,jdbcType=VARCHAR},
      ji_gou_ceng_ji = #{jiGouCengJi,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_code = #{jobCode,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      need_num = #{needNum,jdbcType=VARCHAR},
      xue_li = #{xueLi,jdbcType=VARCHAR},
      xue_wei = #{xueWei,jdbcType=VARCHAR},
      zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      ji_ceng = #{jiCeng,jdbcType=VARCHAR},
      years = #{years,jdbcType=VARCHAR},
      xing_bie = #{xingBie,jdbcType=VARCHAR},
      qi_ta = #{qiTa,jdbcType=VARCHAR},
      can_gong = #{canGong,jdbcType=VARCHAR},
      bei_zhu = #{beiZhu,jdbcType=VARCHAR},
      all_num = #{allNum,jdbcType=INTEGER},
      hasing = #{hasing,jdbcType=VARCHAR}
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hu_bei_2022_01
  </select>
</mapper>