<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoxiang.project.mapper.JiangSuMapper" >
  <resultMap id="BaseResultMap" type="com.luoxiang.project.po.JiangSu" >
    <id column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="li_shu_guan_xi" property="liShuGuanXi" jdbcType="VARCHAR" />
    <result column="di_qu_dai_ma" property="diQuDaiMa" jdbcType="VARCHAR" />
    <result column="di_qu_ming_cheng" property="diQuMingCheng" jdbcType="VARCHAR" />
    <result column="dan_wei_dai_ma" property="danWeiDaiMa" jdbcType="VARCHAR" />
    <result column="dan_wei_ming_cheng" property="danWeiMingCheng" jdbcType="VARCHAR" />
    <result column="zhi_wei_dai_ma" property="zhiWeiDaiMa" jdbcType="VARCHAR" />
    <result column="zhi_wei_ming_cheng" property="zhiWeiMingCheng" jdbcType="VARCHAR" />
    <result column="zhi_wei_jian_jie" property="zhiWeiJianJie" jdbcType="VARCHAR" />
    <result column="zhi_wei_lei_bie" property="zhiWeiLeiBie" jdbcType="VARCHAR" />
    <result column="kai_kao_bi_lie" property="kaiKaoBiLie" jdbcType="VARCHAR" />
    <result column="zhao_kao_ren_shu" property="zhaoKaoRenShu" jdbcType="VARCHAR" />
    <result column="xue_li" property="xueLi" jdbcType="VARCHAR" />
    <result column="zhuan_ye" property="zhuanYe" jdbcType="VARCHAR" />
    <result column="qi_ta" property="qiTa" jdbcType="VARCHAR" />
    <result column="job_code" property="jobCode" jdbcType="VARCHAR" />
    <result column="has_nums" property="hasNums" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    index_id, li_shu_guan_xi, di_qu_dai_ma, di_qu_ming_cheng, dan_wei_dai_ma, dan_wei_ming_cheng, 
    zhi_wei_dai_ma, zhi_wei_ming_cheng, zhi_wei_jian_jie, zhi_wei_lei_bie, kai_kao_bi_lie, 
    zhao_kao_ren_shu, xue_li, zhuan_ye, qi_ta, job_code, has_nums
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoxiang.project.po.JiangSuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jiang_su
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jiang_su
    where index_id = #{indexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jiang_su
    where index_id = #{indexId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoxiang.project.po.JiangSuExample" >
    delete from jiang_su
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoxiang.project.po.JiangSu" >
    insert into jiang_su (index_id, li_shu_guan_xi, di_qu_dai_ma, 
      di_qu_ming_cheng, dan_wei_dai_ma, dan_wei_ming_cheng, 
      zhi_wei_dai_ma, zhi_wei_ming_cheng, zhi_wei_jian_jie, 
      zhi_wei_lei_bie, kai_kao_bi_lie, zhao_kao_ren_shu, 
      xue_li, zhuan_ye, qi_ta, 
      job_code, has_nums)
    values (#{indexId,jdbcType=INTEGER}, #{liShuGuanXi,jdbcType=VARCHAR}, #{diQuDaiMa,jdbcType=VARCHAR}, 
      #{diQuMingCheng,jdbcType=VARCHAR}, #{danWeiDaiMa,jdbcType=VARCHAR}, #{danWeiMingCheng,jdbcType=VARCHAR}, 
      #{zhiWeiDaiMa,jdbcType=VARCHAR}, #{zhiWeiMingCheng,jdbcType=VARCHAR}, #{zhiWeiJianJie,jdbcType=VARCHAR}, 
      #{zhiWeiLeiBie,jdbcType=VARCHAR}, #{kaiKaoBiLie,jdbcType=VARCHAR}, #{zhaoKaoRenShu,jdbcType=VARCHAR}, 
      #{xueLi,jdbcType=VARCHAR}, #{zhuanYe,jdbcType=VARCHAR}, #{qiTa,jdbcType=VARCHAR}, 
      #{jobCode,jdbcType=VARCHAR}, #{hasNums,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.luoxiang.project.po.JiangSu" >
    insert into jiang_su
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="liShuGuanXi != null" >
        li_shu_guan_xi,
      </if>
      <if test="diQuDaiMa != null" >
        di_qu_dai_ma,
      </if>
      <if test="diQuMingCheng != null" >
        di_qu_ming_cheng,
      </if>
      <if test="danWeiDaiMa != null" >
        dan_wei_dai_ma,
      </if>
      <if test="danWeiMingCheng != null" >
        dan_wei_ming_cheng,
      </if>
      <if test="zhiWeiDaiMa != null" >
        zhi_wei_dai_ma,
      </if>
      <if test="zhiWeiMingCheng != null" >
        zhi_wei_ming_cheng,
      </if>
      <if test="zhiWeiJianJie != null" >
        zhi_wei_jian_jie,
      </if>
      <if test="zhiWeiLeiBie != null" >
        zhi_wei_lei_bie,
      </if>
      <if test="kaiKaoBiLie != null" >
        kai_kao_bi_lie,
      </if>
      <if test="zhaoKaoRenShu != null" >
        zhao_kao_ren_shu,
      </if>
      <if test="xueLi != null" >
        xue_li,
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye,
      </if>
      <if test="qiTa != null" >
        qi_ta,
      </if>
      <if test="jobCode != null" >
        job_code,
      </if>
      <if test="hasNums != null" >
        has_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="liShuGuanXi != null" >
        #{liShuGuanXi,jdbcType=VARCHAR},
      </if>
      <if test="diQuDaiMa != null" >
        #{diQuDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="diQuMingCheng != null" >
        #{diQuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="danWeiDaiMa != null" >
        #{danWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="danWeiMingCheng != null" >
        #{danWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiDaiMa != null" >
        #{zhiWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiMingCheng != null" >
        #{zhiWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiJianJie != null" >
        #{zhiWeiJianJie,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiLeiBie != null" >
        #{zhiWeiLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="kaiKaoBiLie != null" >
        #{kaiKaoBiLie,jdbcType=VARCHAR},
      </if>
      <if test="zhaoKaoRenShu != null" >
        #{zhaoKaoRenShu,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="qiTa != null" >
        #{qiTa,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="hasNums != null" >
        #{hasNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoxiang.project.po.JiangSuExample" resultType="java.lang.Integer" >
    select count(*) from jiang_su
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jiang_su
    <set >
      <if test="record.indexId != null" >
        index_id = #{record.indexId,jdbcType=INTEGER},
      </if>
      <if test="record.liShuGuanXi != null" >
        li_shu_guan_xi = #{record.liShuGuanXi,jdbcType=VARCHAR},
      </if>
      <if test="record.diQuDaiMa != null" >
        di_qu_dai_ma = #{record.diQuDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="record.diQuMingCheng != null" >
        di_qu_ming_cheng = #{record.diQuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="record.danWeiDaiMa != null" >
        dan_wei_dai_ma = #{record.danWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="record.danWeiMingCheng != null" >
        dan_wei_ming_cheng = #{record.danWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiWeiDaiMa != null" >
        zhi_wei_dai_ma = #{record.zhiWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiWeiMingCheng != null" >
        zhi_wei_ming_cheng = #{record.zhiWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiWeiJianJie != null" >
        zhi_wei_jian_jie = #{record.zhiWeiJianJie,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiWeiLeiBie != null" >
        zhi_wei_lei_bie = #{record.zhiWeiLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="record.kaiKaoBiLie != null" >
        kai_kao_bi_lie = #{record.kaiKaoBiLie,jdbcType=VARCHAR},
      </if>
      <if test="record.zhaoKaoRenShu != null" >
        zhao_kao_ren_shu = #{record.zhaoKaoRenShu,jdbcType=VARCHAR},
      </if>
      <if test="record.xueLi != null" >
        xue_li = #{record.xueLi,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuanYe != null" >
        zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="record.qiTa != null" >
        qi_ta = #{record.qiTa,jdbcType=VARCHAR},
      </if>
      <if test="record.jobCode != null" >
        job_code = #{record.jobCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hasNums != null" >
        has_nums = #{record.hasNums,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jiang_su
    set index_id = #{record.indexId,jdbcType=INTEGER},
      li_shu_guan_xi = #{record.liShuGuanXi,jdbcType=VARCHAR},
      di_qu_dai_ma = #{record.diQuDaiMa,jdbcType=VARCHAR},
      di_qu_ming_cheng = #{record.diQuMingCheng,jdbcType=VARCHAR},
      dan_wei_dai_ma = #{record.danWeiDaiMa,jdbcType=VARCHAR},
      dan_wei_ming_cheng = #{record.danWeiMingCheng,jdbcType=VARCHAR},
      zhi_wei_dai_ma = #{record.zhiWeiDaiMa,jdbcType=VARCHAR},
      zhi_wei_ming_cheng = #{record.zhiWeiMingCheng,jdbcType=VARCHAR},
      zhi_wei_jian_jie = #{record.zhiWeiJianJie,jdbcType=VARCHAR},
      zhi_wei_lei_bie = #{record.zhiWeiLeiBie,jdbcType=VARCHAR},
      kai_kao_bi_lie = #{record.kaiKaoBiLie,jdbcType=VARCHAR},
      zhao_kao_ren_shu = #{record.zhaoKaoRenShu,jdbcType=VARCHAR},
      xue_li = #{record.xueLi,jdbcType=VARCHAR},
      zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      qi_ta = #{record.qiTa,jdbcType=VARCHAR},
      job_code = #{record.jobCode,jdbcType=VARCHAR},
      has_nums = #{record.hasNums,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoxiang.project.po.JiangSu" >
    update jiang_su
    <set >
      <if test="liShuGuanXi != null" >
        li_shu_guan_xi = #{liShuGuanXi,jdbcType=VARCHAR},
      </if>
      <if test="diQuDaiMa != null" >
        di_qu_dai_ma = #{diQuDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="diQuMingCheng != null" >
        di_qu_ming_cheng = #{diQuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="danWeiDaiMa != null" >
        dan_wei_dai_ma = #{danWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="danWeiMingCheng != null" >
        dan_wei_ming_cheng = #{danWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiDaiMa != null" >
        zhi_wei_dai_ma = #{zhiWeiDaiMa,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiMingCheng != null" >
        zhi_wei_ming_cheng = #{zhiWeiMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiJianJie != null" >
        zhi_wei_jian_jie = #{zhiWeiJianJie,jdbcType=VARCHAR},
      </if>
      <if test="zhiWeiLeiBie != null" >
        zhi_wei_lei_bie = #{zhiWeiLeiBie,jdbcType=VARCHAR},
      </if>
      <if test="kaiKaoBiLie != null" >
        kai_kao_bi_lie = #{kaiKaoBiLie,jdbcType=VARCHAR},
      </if>
      <if test="zhaoKaoRenShu != null" >
        zhao_kao_ren_shu = #{zhaoKaoRenShu,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        xue_li = #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="qiTa != null" >
        qi_ta = #{qiTa,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        job_code = #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="hasNums != null" >
        has_nums = #{hasNums,jdbcType=INTEGER},
      </if>
    </set>
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoxiang.project.po.JiangSu" >
    update jiang_su
    set li_shu_guan_xi = #{liShuGuanXi,jdbcType=VARCHAR},
      di_qu_dai_ma = #{diQuDaiMa,jdbcType=VARCHAR},
      di_qu_ming_cheng = #{diQuMingCheng,jdbcType=VARCHAR},
      dan_wei_dai_ma = #{danWeiDaiMa,jdbcType=VARCHAR},
      dan_wei_ming_cheng = #{danWeiMingCheng,jdbcType=VARCHAR},
      zhi_wei_dai_ma = #{zhiWeiDaiMa,jdbcType=VARCHAR},
      zhi_wei_ming_cheng = #{zhiWeiMingCheng,jdbcType=VARCHAR},
      zhi_wei_jian_jie = #{zhiWeiJianJie,jdbcType=VARCHAR},
      zhi_wei_lei_bie = #{zhiWeiLeiBie,jdbcType=VARCHAR},
      kai_kao_bi_lie = #{kaiKaoBiLie,jdbcType=VARCHAR},
      zhao_kao_ren_shu = #{zhaoKaoRenShu,jdbcType=VARCHAR},
      xue_li = #{xueLi,jdbcType=VARCHAR},
      zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      qi_ta = #{qiTa,jdbcType=VARCHAR},
      job_code = #{jobCode,jdbcType=VARCHAR},
      has_nums = #{hasNums,jdbcType=INTEGER}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jiang_su
  </select>
</mapper>