<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoxiang.project.mapper.ZheJiang2020Mapper" >
  <resultMap id="BaseResultMap" type="com.luoxiang.project.po.ZheJiang2020" >
    <id column="job_index" property="jobIndex" jdbcType="INTEGER" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="job_code" property="jobCode" jdbcType="VARCHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_level" property="jobLevel" jdbcType="VARCHAR" />
    <result column="job_class_1" property="jobClass1" jdbcType="VARCHAR" />
    <result column="job_class_2" property="jobClass2" jdbcType="VARCHAR" />
    <result column="need_num" property="needNum" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
    <result column="xue_li" property="xueLi" jdbcType="VARCHAR" />
    <result column="xue_wei" property="xueWei" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="shen_fen" property="shenFen" jdbcType="VARCHAR" />
    <result column="zheng_zhi" property="zhengZhi" jdbcType="VARCHAR" />
    <result column="ming_zu" property="mingZu" jdbcType="VARCHAR" />
    <result column="years" property="years" jdbcType="VARCHAR" />
    <result column="zhuan_ye" property="zhuanYe" jdbcType="VARCHAR" />
    <result column="xin_li" property="xinLi" jdbcType="VARCHAR" />
    <result column="ti_neng" property="tiNeng" jdbcType="VARCHAR" />
    <result column="zhuan_ye_test" property="zhuanYeTest" jdbcType="VARCHAR" />
    <result column="bei_zhu" property="beiZhu" jdbcType="VARCHAR" />
    <result column="all_num" property="allNum" jdbcType="INTEGER" />
    <result column="hasing" property="hasing" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    job_index, unit_name, job_code, job_name, job_level, job_class_1, job_class_2, need_num, 
    phone, job_desc, xue_li, xue_wei, sex, shen_fen, zheng_zhi, ming_zu, years, zhuan_ye, 
    xin_li, ti_neng, zhuan_ye_test, bei_zhu, all_num, hasing
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.luoxiang.project.po.ZheJiang2020Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zhe_jiang_2020
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zhe_jiang_2020
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zhe_jiang_2020
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luoxiang.project.po.ZheJiang2020Example" >
    delete from zhe_jiang_2020
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luoxiang.project.po.ZheJiang2020" >
    insert into zhe_jiang_2020 (job_index, unit_name, job_code, 
      job_name, job_level, job_class_1, 
      job_class_2, need_num, phone, 
      job_desc, xue_li, xue_wei, 
      sex, shen_fen, zheng_zhi, 
      ming_zu, years, zhuan_ye, 
      xin_li, ti_neng, zhuan_ye_test, 
      bei_zhu, all_num, hasing
      )
    values (#{jobIndex,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{jobCode,jdbcType=VARCHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{jobLevel,jdbcType=VARCHAR}, #{jobClass1,jdbcType=VARCHAR}, 
      #{jobClass2,jdbcType=VARCHAR}, #{needNum,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{jobDesc,jdbcType=VARCHAR}, #{xueLi,jdbcType=VARCHAR}, #{xueWei,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{shenFen,jdbcType=VARCHAR}, #{zhengZhi,jdbcType=VARCHAR}, 
      #{mingZu,jdbcType=VARCHAR}, #{years,jdbcType=VARCHAR}, #{zhuanYe,jdbcType=VARCHAR}, 
      #{xinLi,jdbcType=VARCHAR}, #{tiNeng,jdbcType=VARCHAR}, #{zhuanYeTest,jdbcType=VARCHAR}, 
      #{beiZhu,jdbcType=VARCHAR}, #{allNum,jdbcType=INTEGER}, #{hasing,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luoxiang.project.po.ZheJiang2020" >
    insert into zhe_jiang_2020
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobIndex != null" >
        job_index,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="jobCode != null" >
        job_code,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobLevel != null" >
        job_level,
      </if>
      <if test="jobClass1 != null" >
        job_class_1,
      </if>
      <if test="jobClass2 != null" >
        job_class_2,
      </if>
      <if test="needNum != null" >
        need_num,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="jobDesc != null" >
        job_desc,
      </if>
      <if test="xueLi != null" >
        xue_li,
      </if>
      <if test="xueWei != null" >
        xue_wei,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="shenFen != null" >
        shen_fen,
      </if>
      <if test="zhengZhi != null" >
        zheng_zhi,
      </if>
      <if test="mingZu != null" >
        ming_zu,
      </if>
      <if test="years != null" >
        years,
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye,
      </if>
      <if test="xinLi != null" >
        xin_li,
      </if>
      <if test="tiNeng != null" >
        ti_neng,
      </if>
      <if test="zhuanYeTest != null" >
        zhuan_ye_test,
      </if>
      <if test="beiZhu != null" >
        bei_zhu,
      </if>
      <if test="allNum != null" >
        all_num,
      </if>
      <if test="hasing != null" >
        hasing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobIndex != null" >
        #{jobIndex,jdbcType=INTEGER},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null" >
        #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="jobClass1 != null" >
        #{jobClass1,jdbcType=VARCHAR},
      </if>
      <if test="jobClass2 != null" >
        #{jobClass2,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null" >
        #{needNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="xueWei != null" >
        #{xueWei,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shenFen != null" >
        #{shenFen,jdbcType=VARCHAR},
      </if>
      <if test="zhengZhi != null" >
        #{zhengZhi,jdbcType=VARCHAR},
      </if>
      <if test="mingZu != null" >
        #{mingZu,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        #{years,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="xinLi != null" >
        #{xinLi,jdbcType=VARCHAR},
      </if>
      <if test="tiNeng != null" >
        #{tiNeng,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYeTest != null" >
        #{zhuanYeTest,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        #{beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="allNum != null" >
        #{allNum,jdbcType=INTEGER},
      </if>
      <if test="hasing != null" >
        #{hasing,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luoxiang.project.po.ZheJiang2020Example" resultType="java.lang.Integer" >
    select count(*) from zhe_jiang_2020
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zhe_jiang_2020
    <set >
      <if test="record.jobIndex != null" >
        job_index = #{record.jobIndex,jdbcType=INTEGER},
      </if>
      <if test="record.unitName != null" >
        unit_name = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobCode != null" >
        job_code = #{record.jobCode,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null" >
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobLevel != null" >
        job_level = #{record.jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.jobClass1 != null" >
        job_class_1 = #{record.jobClass1,jdbcType=VARCHAR},
      </if>
      <if test="record.jobClass2 != null" >
        job_class_2 = #{record.jobClass2,jdbcType=VARCHAR},
      </if>
      <if test="record.needNum != null" >
        need_num = #{record.needNum,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.jobDesc != null" >
        job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.xueLi != null" >
        xue_li = #{record.xueLi,jdbcType=VARCHAR},
      </if>
      <if test="record.xueWei != null" >
        xue_wei = #{record.xueWei,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.shenFen != null" >
        shen_fen = #{record.shenFen,jdbcType=VARCHAR},
      </if>
      <if test="record.zhengZhi != null" >
        zheng_zhi = #{record.zhengZhi,jdbcType=VARCHAR},
      </if>
      <if test="record.mingZu != null" >
        ming_zu = #{record.mingZu,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null" >
        years = #{record.years,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuanYe != null" >
        zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="record.xinLi != null" >
        xin_li = #{record.xinLi,jdbcType=VARCHAR},
      </if>
      <if test="record.tiNeng != null" >
        ti_neng = #{record.tiNeng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuanYeTest != null" >
        zhuan_ye_test = #{record.zhuanYeTest,jdbcType=VARCHAR},
      </if>
      <if test="record.beiZhu != null" >
        bei_zhu = #{record.beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="record.allNum != null" >
        all_num = #{record.allNum,jdbcType=INTEGER},
      </if>
      <if test="record.hasing != null" >
        hasing = #{record.hasing,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zhe_jiang_2020
    set job_index = #{record.jobIndex,jdbcType=INTEGER},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      job_code = #{record.jobCode,jdbcType=VARCHAR},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      job_level = #{record.jobLevel,jdbcType=VARCHAR},
      job_class_1 = #{record.jobClass1,jdbcType=VARCHAR},
      job_class_2 = #{record.jobClass2,jdbcType=VARCHAR},
      need_num = #{record.needNum,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      job_desc = #{record.jobDesc,jdbcType=VARCHAR},
      xue_li = #{record.xueLi,jdbcType=VARCHAR},
      xue_wei = #{record.xueWei,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      shen_fen = #{record.shenFen,jdbcType=VARCHAR},
      zheng_zhi = #{record.zhengZhi,jdbcType=VARCHAR},
      ming_zu = #{record.mingZu,jdbcType=VARCHAR},
      years = #{record.years,jdbcType=VARCHAR},
      zhuan_ye = #{record.zhuanYe,jdbcType=VARCHAR},
      xin_li = #{record.xinLi,jdbcType=VARCHAR},
      ti_neng = #{record.tiNeng,jdbcType=VARCHAR},
      zhuan_ye_test = #{record.zhuanYeTest,jdbcType=VARCHAR},
      bei_zhu = #{record.beiZhu,jdbcType=VARCHAR},
      all_num = #{record.allNum,jdbcType=INTEGER},
      hasing = #{record.hasing,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoxiang.project.po.ZheJiang2020" >
    update zhe_jiang_2020
    <set >
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="jobCode != null" >
        job_code = #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null" >
        job_level = #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="jobClass1 != null" >
        job_class_1 = #{jobClass1,jdbcType=VARCHAR},
      </if>
      <if test="jobClass2 != null" >
        job_class_2 = #{jobClass2,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null" >
        need_num = #{needNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        job_desc = #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="xueLi != null" >
        xue_li = #{xueLi,jdbcType=VARCHAR},
      </if>
      <if test="xueWei != null" >
        xue_wei = #{xueWei,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shenFen != null" >
        shen_fen = #{shenFen,jdbcType=VARCHAR},
      </if>
      <if test="zhengZhi != null" >
        zheng_zhi = #{zhengZhi,jdbcType=VARCHAR},
      </if>
      <if test="mingZu != null" >
        ming_zu = #{mingZu,jdbcType=VARCHAR},
      </if>
      <if test="years != null" >
        years = #{years,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYe != null" >
        zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      </if>
      <if test="xinLi != null" >
        xin_li = #{xinLi,jdbcType=VARCHAR},
      </if>
      <if test="tiNeng != null" >
        ti_neng = #{tiNeng,jdbcType=VARCHAR},
      </if>
      <if test="zhuanYeTest != null" >
        zhuan_ye_test = #{zhuanYeTest,jdbcType=VARCHAR},
      </if>
      <if test="beiZhu != null" >
        bei_zhu = #{beiZhu,jdbcType=VARCHAR},
      </if>
      <if test="allNum != null" >
        all_num = #{allNum,jdbcType=INTEGER},
      </if>
      <if test="hasing != null" >
        hasing = #{hasing,jdbcType=VARCHAR},
      </if>
    </set>
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoxiang.project.po.ZheJiang2020" >
    update zhe_jiang_2020
    set unit_name = #{unitName,jdbcType=VARCHAR},
      job_code = #{jobCode,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_level = #{jobLevel,jdbcType=VARCHAR},
      job_class_1 = #{jobClass1,jdbcType=VARCHAR},
      job_class_2 = #{jobClass2,jdbcType=VARCHAR},
      need_num = #{needNum,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      xue_li = #{xueLi,jdbcType=VARCHAR},
      xue_wei = #{xueWei,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      shen_fen = #{shenFen,jdbcType=VARCHAR},
      zheng_zhi = #{zhengZhi,jdbcType=VARCHAR},
      ming_zu = #{mingZu,jdbcType=VARCHAR},
      years = #{years,jdbcType=VARCHAR},
      zhuan_ye = #{zhuanYe,jdbcType=VARCHAR},
      xin_li = #{xinLi,jdbcType=VARCHAR},
      ti_neng = #{tiNeng,jdbcType=VARCHAR},
      zhuan_ye_test = #{zhuanYeTest,jdbcType=VARCHAR},
      bei_zhu = #{beiZhu,jdbcType=VARCHAR},
      all_num = #{allNum,jdbcType=INTEGER},
      hasing = #{hasing,jdbcType=VARCHAR}
    where job_index = #{jobIndex,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zhe_jiang_2020
  </select>
</mapper>